
.body{
    background-color: black;
    color: white;
}
.body p{
    font-size: 10px;
}
.img{
    margin: 0px 300px 0px 416px;
}
.top{
    background-color: rgb(0, 80, 172);
    margin: 0px 300px 0px 300px;
    padding: 20px;
}
.POP{
    border: 2px solid black;
}
.POP p{
    background-color: rgba(0, 135, 245, 0.541); 
    border: 1px solid black;  
    color: white;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    
}
.text p{
    background-color: rgb(0, 80, 172);
    font-size: 22px;
}
